body {
    font-family: Arial;
    box-sizing: border-box;
}

form {
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    width: 300px;
}

input,textarea{
    border: 0;
    outline: none;
    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 3px;
}

.center-content{
    text-align: center;
}