html{
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
    font-family: Arial;
    box-sizing: border-box;
    background-size: 100%;
}
header{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 80px;
    margin: 0 auto;
}
footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 10%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    
}
.text_footer{
    color: white;
}
.pie{
    text-align: center;
    color: white;
    width: 60%;
    margin: 0 auto;
    padding-top: 25px;
}
.imagen_logo{
    width: 35px;
    margin: 10px 10px;
}

form {
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    width: 300px;
}

input,textarea{
    border: 0;
    outline: none;
    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 5px;
}

.center-content{
    text-align: center;
}